body{
    background-color: rgb(247, 250, 222);
}

div {
  background-color: white;
  max-width: 20%;
  outline: 1px solid rgb(197, 199, 163);
  border-radius: 18px;
  position: absolute;
  margin: 10% 40%;
}

img{
    position: relative;;
    top: 8px;
    left: 8px;
    width: 94%;
    border-radius: 12px;
    border: 1px solid rgb(197, 199, 163);
}

nav ul li{
    position: relative;
    list-style: none;
    border: 1px solid rgb(197, 199, 163);
    border-radius: 5px;
    padding: 4px;
    top: 5px;
    max-width: fit-content;
    display: inline-block;
    left: -31px;
}

h2{
   position: relative;
   left: 8px;
}

section{
    position: relative;
    left: 8px;
    max-width: 94%;
}

h3{
    right: 12px;
    padding: 5px;
    position: relative;
    background-color: rgb(199, 246, 252);
    color: rgb(0, 157, 255);
    display: inline-block;
    border-radius: 5px;
    border: 1px solid rgb(211, 238, 241);
    outline: 2px solid rgb(0, 157, 255);
    justify-self:center;
    float: inline-end;
    bottom: -4px;
}